/* 20180822 */
#page01{
    background-color: aqua;
    height: 200px;
    width: 500px;
    color:#cc5522;
}
.page01{
    background-color: #cc5522;
    width: 700px;
    height: 700px;
    display: block;
}